
html, body {
height: 100vh;
width: 100vw;
overflow: hidden;
}


.full-height {
  height: 100vh;
}


.main-div {

  display: flex;
  justify-content: center;
  position: relative;
}

.outcome-div {

  top: 10%;
  display: flex;
  justify-content: center;
  /* width: fit-content;
  width: 30vw; */
}

.outcome-span-div {
  top: 10%;
  justify-content: center;
  text-align: center;
  width: 40vw;
}


.btn-toolbar {

top: 40%;
justify-content: center;
display: inline-block;
width: 50vw;

}

.inner {
  position: relative;
}

span {

  font-size: 20px;
  display:inline;

}

button {

  width: 15%;
}

.form-div {

  top: 32%;
  display: inline-block;
  justify-content: center;
  vertical-align: middle;
}
